{% extends 'base.html' %} 
{% block modpost %}
{% load static %}

<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="" width="" />
        </div>
        <div class="col-8">
            <h1>The following is a list of links for various resources for modding.
                <hr>
                Please refer to Admins blog posts for site rules regarding links.
            </h1>
            {% for link in link %}
            <!-- URL goes between these h3 tags-->
            <h2> <a href="{{ link.site_url}}">{{ link.title }}</a></h2>
            <hr>
            <!-- Content goes directly underneath this -->
            {{ link.content | safe }}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock modpost %}