/* Space out the content*/
body {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header {
    color: black !important;
  }

  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* Custom page header */
  .header {
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
  }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px; 
  }


  
  /* Custom page footer */
  .footer {
    padding-top: 10px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }
  
  /* Customize container for different screen sizes */
  @media (min-width: 768px) {
    .container {
      max-width: 730px;
      background-color: goldenrod;
    }
  }
  .container-narrow > hr {
    margin: 30px 0;
  }
  
  /* Main marketing message */
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  
  /* Supporting marketing content */
  .marketing {
    margin: 40px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }


  /* Changes opacity of delete Modal */
    .fade:not(.show) {
    opacity: 50;
}
  
  /* Responsivity for larger screens*/
  @media screen and (min-width: 768px) {
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    .header {
      margin-bottom: 30px;
    }
    .jumbotron {
      border-bottom: 0;
    }
  }


  