{% extends "base.html" %}

{% block modpost %}
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="row marketing">
                {% for post in post_list %}
                <!--Provides preview of blog content complete with Author, title, excerpt and date created-->
                <div class="col-sm-4">
                <a href="{% url 'post_detail' post.slug %}">
                    <p class="blog-gold">Author: {{ post.author }}</p>
                    <h2 class="blog-gold">{{ post.title }}</h2>
                    <p class="blog-blue">{{ post.excerpt | truncatewords:40 }}</p>
                    <p class="blog-gold">{{ post.created_on}}</p>
                    {% if forloop.counter|divisibleby:1 %}
                </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>


        <!--Provides buttons to naviagte through the lists of blog posts-->
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul>
                {% if page_obj.has_previous %}
                <li>
                    <a class="blog-goldword butcenter" href="?page={{ page_obj.previous_page_number }}">&laquo; PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a class="blog-goldword butcenter" href="?page={{ page_obj.next_page_number }}"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>


    {% endblock %}