{% extends 'base.html' %} {% block modpost %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <!--Displays post headings such as title, author, mod-maker and date of upload-->
      <div class="col-md-6 masthead-text">
        <h1 class="blog-goldword">{{ post.title }}</h1>
        <p class="blog-goldword">Author: {{ post.author }}</p>
        <p class="blog-goldword">Mod-Maker: {{ post.mod_maker }}</p>
        <p class="blog-goldword">{{ post.created_on}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row blog-blue">
    <!--Provides the main body content of the post-->
    <div class="col card mb-4  mt-3 left  top">
      <div>
          {{ post.content | safe }}
      </div>
    </div>
  </div>

  <!--Section to display preview of comments with approval status-->
  <div class="row blog-goldword">
    <div class="col-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3 class="blog-goldword">Comments:</h3>
      <div>
        {% for comment in comments %}
        <!--Displays the associated comments-->
        <div>>
          <p class="blog-goldword">
            {{ comment.author }}
            <br>
            <span class="blog-goldword">
              Favourite Mod: {{ comment.favourite_mod }}
            </span> <br> 
            <span class="blog-goldword">
              {{ comment.created_on }}
            </span> <br> wrote:
          </p>
          <div id="comment{{ comment.id }}" class="blog-blue" >
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <!--Notice for user if their comment is pending approval-->
          <p class="blog-goldword">
            Comment approval pending
          </p>
          {% endif %}

          <!--Edit button provided to alter comment
              Deleted button provided to delete comment-->
          {% if user.is_authenticated and comment.author == user %}
          <button class="delete-button" comment_id="{{ comment.id }}">Delete</button>
          <button class="edit-button" comment_id="{{ comment.id }}">Edit</button>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Form for posting comments. Prompts login for guest users-->
    <div class="col-md-4 card mb-4 mt-3">
      <div>
        {% if user.is_authenticated %}
        <h3 class="blog-goldword">Leave a comment:</h3>
        <p class="blog-goldword">Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit">Submit</button>
        </form>
        {% else %}
        <p>Please log in to comment</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Message to confirm comment deletion -->
<div class="modal" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This will delete your comment.
        Are you sure you wish to proceed?
      </div>
      <div class="modal-footer">
        <button id="closeModal" type="button" class="btn-secondary"
          data-dismiss="modal" onclick="modalDismiss()">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock modpost %}

{% block jscomment %}
<!--Script loaded to aid in proper presentation of Bootstrap Modal-->
<script src="{% static 'js/comments.js' %}" type="module"></script>
{% endblock %}