/* Space out the content*/
body {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100vh;
    background-color: rgb(44, 44, 48);
    color: black;
  }

  .header {
    color: black !important;
  }

a {
  color: black;
}

  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* Custom page header */
  .header {
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
    background-color:goldenrod
  }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px; 
  }

  .jumbotron {
    background-color:goldenrod;
  }

  .blog-gold {
    background-color: goldenrod;
  }

  .blog-goldword {
    color: goldenrod;
  }
  
  .blog-blue {
    color: royalblue;
  }
  /* Custom page footer */
  .footer {
    padding-top: 10px;
    border-top: 1px solid #020202;
    background-color:goldenrod;
  }
  
  /* Customize container for different screen sizes */
  @media (min-width: 768px) {
    .container {
      max-width: 730px;
    }
  }
  .container-narrow > hr {
    margin: 30px 0;
  }
  
  /* Main marketing message */
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  
  /* Supporting marketing content */
  .marketing {
    margin: 40px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }


  /* Changes opacity of delete Modal */
    .fade:not(.show) {
    opacity: 50;
}
  
  /* Responsivity for larger screens*/
  @media screen and (min-width: 768px) {
    .header,
    .marketing,
    .footer {
      padding-right: 35px;
      padding-left: 35px;
    }
    .header {
      margin-bottom: 30px;
    }
    .jumbotron {
      border-bottom: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    .marketing {
      padding-right: 85px;
      padding-left: 85px;
    }
  }

  @media screen and (min-width: 1366px) {
    .marketing {
      padding-right: 170px;
      padding-left: 170px;
    }
  }
  


  